/* font imports */

@font-face {
	font-family: 'Inconsolata';
	src: url('../fonts/Latin/Inconsolata/Inconsolata-Regular.ttf');
	font-weight: normal;
}
@font-face {
	font-family: 'Inconsolata';
	src: url('../fonts/Latin/Inconsolata/Inconsolata-Bold.ttf');
	font-weight: bold;
}

@font-face {
	font-family: 'EB Garamond';
	src: url('../fonts/Latin/EB_Garamond/EBGaramond-Regular.ttf');
	font-weight: normal;
}

@font-face {
	font-family: 'Libre Baskerville';
	src: url('../fonts/Latin/Libre_Baskerville/LibreBaskerville-Regular.ttf');
	font-weight: normal;
}
@font-face {
	font-family: 'Libre Baskerville';
	src: url('../fonts/Latin/Libre_Baskerville/LibreBaskerville-Regular.ttf');
	font-weight: 500;
}
@font-face {
	font-family: 'Libre Baskerville';
	src: url('../fonts/Latin/Libre_Baskerville/LibreBaskerville-Italic.ttf');
	font-style: italic;
}
@font-face {
	font-family: 'Libre Baskerville';
	src: url('../fonts/Latin/Libre_Baskerville/LibreBaskerville-Bold.ttf');
	font-weight: bold;
}

@font-face {
	font-family: 'Taipei Sans';
	src: url('../fonts/CJK/TaipeiSansTCBeta/TaipeiSansTCBeta-Regular.ttf');
	font-weight: normal;
}

@font-face {
	font-family: 'GenRyu';
	src: url('../fonts/CJK/GenRyuMin/GenRyuMinTW-Regular.ttf');
	font-weight: normal;
}
@font-face {
	font-family: 'GenRyu';
	src: url('../fonts/CJK/GenRyuMin/GenRyuMinTW-Medium.ttf');
	font-weight: 500;
}
@font-face {
	font-family: 'GenRyu';
	src: url('../fonts/CJK/GenRyuMin/GenRyuMinTW-Bold.ttf');
	font-weight: bold;
}

@font-face {
	font-family: 'GenWan';
	src: url('../fonts/CJK/GenWanMin/GenWanMinTW-Medium.ttf');
}
